*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    /* background-color: rgb(165, 165, 230); */
    background-color: rgb(222, 245, 250);
    
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    padding: 0 16px;
    height: 12%;
    background-color: white;
    border-radius: 14px;
    margin: 20px 40px;
}
.logo{
    
    height: 190px;
    margin-left: -20px;
   
   

    

}
.logo img{
    height: 100%;
    width: 100%;
    
    
    

}
.header .nav{
    display: flex;
    justify-content: space-between;
    /* background-color: red; */
    gap: 23px;
   
}
.header .nav a{
    /* margin: 0 9px; */
    font-size: 20px;
    color: #000;
    text-transform: capitalize;
    text-decoration: none;

 
}

.header .icons{
    color: rgb(43, 75, 133); 
    
    display: inline-block;
    gap: 20px;

}
.icons i{
    border: 1px solid rgb(230, 46, 46);
    padding: 6px;
    border-radius: 50px;
    font-size: 20px;
}
.icons button{
    padding: 6px 10px ;
    border-radius: 4px ;
    /* background-color: rgb(43, 75, 133);  */
    background-color: rgb(1, 123, 148);
    color: white;
    border: none;
    text-transform: capitalize;
    font-size: 20px;
}
.icons button i{
    border: none;
}







.home{
    height: 70%;
    margin: 20px 40px;
    background: url(public/images/wonderful\ journey\ of\ chewing\ gum.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


    border-radius: 14px;

}
.home .box{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.775);
    border-radius: 14px;
    position: relative;
     
}
.box .container{
    height: 100%;
    width: 50%;
    /* background-color: aquamarine; */
    position: absolute;
    top: 0%;
    left: 25%;
    text-align: center;
    padding: 110px 20px;
    
}

h5{
    font-family:serif;
    color: white;
    font-size: 20px;

}
h5 i{
    color: rgb(192, 65, 192);
}

h1{
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: white;
  font-size:40px;
  line-height: 1;
  margin-top: 10px;
   margin-bottom: 18px;
}
h1 span{
     font-family:cursive;
    font-size: 40px;

}
.container p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    color: white;
    margin-top: 30px;
    margin-bottom: 50px;
   
}
.container button{
    padding: 10px 15px ;
    border-radius: 4px ;
     background-color: rgb(1, 123, 148); 
    color: white;
    border: none;
    text-transform: capitalize;
    font-size: 20px;
    align-items: center;
    /* font-size: 10px; */
    margin-bottom: 40px;
   
}
.container .watch{
    background: transparent;
}
.watch i{
    color: rgb(1, 123, 148);
    font-size: 22px;
}
.check{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
   
}
.check a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.check i{
    color: rgb(192, 65, 192);
   
    
}


.about{
    height: 100%;
    background-color: white;
    margin: 20px 40px;
    border-radius: 14px;
    padding: 60px 70px;
    position: relative;
}

.about .content{
    height: 60%;
    width: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: space-around;
    margin-bottom: 5px;

}

.content .part{
    height: 100%;
    width: 50%;
    /* border: 2px solid gray; */
    
}



#content1 h5{
    font-size: 20px;
    font-weight: 400;
    font-family:serif;
    color: rgb(62, 128, 194);


}
#content1 h5 i{
    color: rgb(62, 128, 194);
    
}
#content1 h1{
    
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: black;
  line-height: 1;
  margin: 12px 0px;
  font-size: 40px;
 

}
#content1 h1 span{
    font-family:cursive;
    font-size: 40px;
} 

#content1 p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
   
    color: rgb(119, 118, 118);
    line-height: 1.5;

}
#content1 p span{
    color: rgb(100, 100, 100);
    font-weight: bolder;

}

.line {
    height: 7%;
    width: 83%;
   
    display: flex;
    justify-content: space-between;
    align-items: center;
  margin: 12px 0px;

}

.line p{
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
   
    color: rgb(146, 144, 144);
   
}
.line p i{
    color: rgb(192, 65, 192);
}


#content1 button{
    padding: 10px 15px ;
    border-radius: 4px ;
    /* background-color: rgb(74, 103, 156);  */
    background-color: rgb(1, 123, 148); 
   
    color: white;
    border: none;
    text-transform: capitalize;
    font-size: 20px;
}
#content1 button i{
    border: none;
}


.about #box3{
    width: 100%;
    height: 30%;
    /* background-color: aquamarine; */
    /* margin-top:70px; */
   
   
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#box3 .set{
    width: 27%;
    height: 50%;
   
}
.set h2{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    margin-left: 20%;
    margin-top: 8%;
}
.set h4{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
   color: rgb(146, 144, 144);
    margin-top: 2%;
    font-weight: 200;
    margin-left: 20%;

}
.set #iconic2{
    width: 4%;
    height: 30%;
    /* background-color:rgb(132, 44, 59); */
    margin-top: 30px;
    padding-left: 5px;
    position: absolute;
    /* margin-left: 2%; */
    text-align: center;
}
#iconic2 i{
    color: rgb(248, 80, 214);
    text-align: center;
    font-size: 29px;
    font-weight:100;
    
}
#bordr{
    border-left: 1px solid rgb(146, 144, 144);
    border-right: 1px solid rgb(146, 144, 144);
}
.about hr{
    margin-top: 50px;
    margin-bottom: 10px;
}

#content2{
    /* background-color: rgb(15, 81, 81); */
    display: flex;
    gap: 20px;
}
#content2 .CD{
    height: 100%;
    width: 40%;
    border-radius: 12px; 
    
}

#content2 .CD img{
    height: 100%;
    width: 100%;
     border-radius: 12px;
    
}

.tag{
    height: 120px;
    width: 120px;
    border-radius: 5cm;
    background-color: #B7E5CD;
    border: 4px solid white;
    position: absolute;
    top: 27%;
    right: 27%;
    text-align: center;
    padding: 42px 0px;
}
.tag h5{
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}


svg{
     position: absolute;
    top: 28%;
    right: 27.7%;
   
}
svg text{
    font-weight: 900;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   color: white;

}

.book{
    

    height: 100%;
    background-color: white;
    margin: 20px 40px;
    border-radius: 14px;
    padding: 60px 70px;
    /* position: relative; */

}


#recipe {
    background-color: white;
    margin: 20px 40px;
    /* margin-left: 30px;
    margin-right: 5px; */
    
    height: 100%;
    width: 100%;
    border-radius: 14px;
    
}
.book .intro{
    height: 30%;
    width: 80%;
    /* background-color: blue; */
    text-align: center;
    border-radius: 14px;
    margin-left: 90px;
    padding: 5px 20px;
}

.book .intro p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
     /* color: rgb(231, 227, 227); */
     color: rgb(119, 118, 118);
     margin-top: 13px;
    
}

.intro h5{
    font-family:serif;
    color:  rgb(1, 123, 148);
    font-size: 20px;
    

    

}
.intro h5 i{
    color:  rgb(1, 123, 148);
}

.intro h1{
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: black;
  line-height: 1;
  margin-top: 10px;
  font-size: 40px;
 
  
}
.intro h1 span{
    font-family:cursive;
    font-size: 40px;
}


.book .more{
    height: 65%;
    width: 100%;
    /* background-color: rgb(81, 255, 0); */
    display: flex;
    justify-content: space-around;
    padding: 0px 100px;
   
   
  
} 

.more .offer{
    width: 30%;
    /* background-color: blueviolet; */
   
    

}
.offer .know{
    height: 36%;
    /* background-color: aquamarine; */
    
    padding: 30px 0px;
    display: flex;
    /* justify-content: space-evenly; */
   
}
#know2{
    margin: 10px 0px;
}

.know .soft{
    height: 100px;
    /* background-color: rgb(177, 49, 49); */
    width: 100px;
    border-radius: 5cm;
    border: 7px solid rgb(249, 246, 246);
   
   
}
.soft img{
    height: 100%;
    width: 100%;
    border-radius: 5cm;
    

}

.hard{
    
    width: 200px;
    /* background-color: red; */
    /* padding: 20px 10px; */
    
}
.hard h5{
    font-family:serif;
    color: black;
    font-size: 20px;
}

.hard p{
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
     /* color: rgb(231, 227, 227); */
     color: rgb(119, 118, 118);
     margin: 9px 0px;
     
    
}
.hard h6{
     font-family:cursive ;
    font-size: 15px;
    color: rgb(24, 160, 177);
                
     font-weight: 400;
}


 
#ball2{
    padding: 0px 25px;
    margin-top: -50px;
}

#ball1,#ball3{
    margin-top:  -20px;
}

#ball2 .capsule{
    height: 415px;
    width: 280px;
    background-color: rgb(243, 238, 238);
    /* margin-top: 5%; */
    border-radius: 99999999999999999999px;
    border: 5px solid  rgb(189, 187, 187) ;
 
   
}


.capsule  h1{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 500;
  font-size: 38px;
  font-style: normal;
  color: black;
  line-height: 1;
  margin-top: 4%;
  margin-left: 3%;
  position: absolute;

 

 
  
}
.capsule p{
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 13px;
     /* color: rgb(231, 227, 227); */
    color: rgb(119, 118, 118);
     margin-top: 7%;

     position: absolute;
     margin-left: 1.5%;

    
}
.capsule button{
    margin-top: 53%;
    
   margin-left: 33%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:13px;
    /* color: rgb(24, 160, 177); */
    color: rgb(1, 123, 148);
    font-weight: 5  00;
    border: none;
    background: transparent;
     padding: 5px 10px ;
   
    
   
   
}

.capsule button i{
    color: rgb(192, 65, 192);
    font-weight: 700;

}





.chewing-gum{
    height: 50%;
    
    
    /* background-color: red; */
    margin-top:15%;
    padding:2px;
   
}
.chewing-gum img{
    height: 100%;
    width: 100%;

}

















.products{
    height: 100%;
    background-color: white;
    margin: 20px 40px;
    border-radius: 14px;
    padding: 20px 50px;
}


.products .head{
    height: 30%;
    width: 80%;
    
    text-align: center;
     border-radius: 14px;
    margin-left: 90px;
    padding: 40px 20px;
   
}

.head h5{
    font-family:serif;
    color: rgb(1, 123, 148);
    font-size: 20px;
    

    

}
.head h5 i{
     color:  rgb(1, 123, 148);
}

.head h1{
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: black;
  line-height: 1;
  margin-top: 18px;
  font-size: 40px;
 
  
}
.head h1 span{
    font-family:cursive;
    font-size: 40px;
}

.products .items{
    height: 45%;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: space-evenly;
    /* padding: 10px 80px; */
}

.items .types{
    width: 21%;
    background-color: rgb(249, 246, 246);
    padding: 10px 30px;
    border-radius: 10px;
    margin-top: 22px;
    
}
.types .figure1{
   height: 200px;
   width: 200px;
   margin-left: 13px;
   margin-top: 20px;
   
    
    
}
.figure1 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.types .figure2{
    height: 60px;
    width: 100%;
    
    padding-top:20px ;
   
}
.figure2 p{
    color: gray;
    font-size: 16px;
    line-height: 2;
}
.figure2 h6{
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 18px;
   
}


.certification{
    height: 100%;
    background-color: white;
    margin: 20px 40px;
    border-radius: 14px;
    padding: 20px 15px;
    position: relative;
}

.certification .head{
    height: 30%;
    width: 80%;
    
    text-align: center;
    border-radius: 14px;
    margin-left: 90px;
    padding: 40px 20px;
}

.certification .fssai{
    height: 43%;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: space-between;
    margin-top: 30px;

}
.fssai .certificate{
    width: 18.5%;
    /* border: 3px solid black; */
    border-radius: 10px;
}
.certificate img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;

    
}
.certification .arrow{
    height: 10%;
    width: 63.3%;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 52%;
    left: 18.5%;
    z-index: 999;
}
.arrow .circle{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: rgb(30, 147, 220);
    border: 5px solid white;
    text-align: center;
    padding: 3px;
}
.circle i{
  color: white;
  font-size: 30px;
   
  
}

.footer{
    height: 50%;
    background-color: rgb(6, 111, 149);
    margin: 20px 40px;
    border-radius: 14px;
    padding: 20px 50px;

}
.footer .part1{
    height: 70%;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-evenly;

}

.part1 .B1{
    width: 45%;
    /* background-color: coral; */
    padding-left: 15px;
   padding-top:12px ;


}

.B1 .image1{
    height: 85px;
    width: 140px;
    
    background-color: white;
    border-radius: 10px;
    
 
    
}
.image1 img{
    
  object-fit: cover;
    background-position: center; 
    
    width: 238%;
    height: 180%; 
    padding: 20px 17px;
    margin-left: -70%;
    margin-top: -24%;
}

.B1 .anchor{
    height: 40px;
    width: 70%;
    /* background-color: blanchedalmond; */
    margin: 20px 0px;
    display: flex;
    justify-content: space-between;

}
.anchor a{
    color: rgb(231, 227, 227);
    font-size: 15px;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.B1 .details{
    height: 95px;
    /* background-color: darkcyan; */
   
   
}
.details h6{
    font-size: 17px;
    color: white;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     line-height: 3;
}
.details p{
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(231, 227, 227);
   
}
/* .footer .hr{
    margin: 30px  10px;
    width: 100%;


} */
.footer .part2{
    height: 20%;
    /* background-color: blueviolet; */
    display: flex;
    justify-content: space-between;
    padding: 10px 60px;

}
.copy p{
    color: rgb(231, 227, 227);
    font-size: 15px;

}
.policy a{
    color: rgb(231, 227, 227);
    font-size: 15px;
    text-decoration: none;
}
.policy i{
    color: rgb(206, 200, 200);
    font-size: 15px;
    margin: 0px 16px;
   
}

.part1 .B2{
    width: 45%;
    /* background-color: darkgra*-/65y; */
    padding-top: 5px;


}
.B2 h6{
     font-size: 17px;
    color: white;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     line-height: 3;
}

.B2 p{
     font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(231, 227, 227);
}

.B2 .email{
    height: 15%;
    
    text-align: center;
    
    /* background-color: blueviolet; */
    display: flex;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 30px;
    
    
}

.email input{
    outline: none;
    border: none;
    background-color: rgba(32, 156, 201, 0.496);
    padding-right: 71px;
     color: rgb(231, 227, 227);
    border-radius: 5px;
     
    
    
    
}
.email input::placeholder{
   padding-left: 10px;
   font-size: 15px;
  color: rgb(231, 227, 227);
  
    
}
.email button{


    padding: 6px 20px ;
    border-radius: 4px ;
    background-color: rgb(192, 65, 192);
    color: white;
    border: none;
    text-transform: capitalize;
    font-size: 17px;
   
}
.email button i{
    border: none;
}

.B2 .follow{
    height: 40px;
    width: 70%;
   
    /* background-color: blue; */
    
   
    
    display: flex;
    gap: 10px;
    align-items: center;

}
.follow h6{
    font-size: 17px;
}
.follow .ion{
    height: 40px;
    width: 40%;
    /* background-color: red; */
    display: flex;
    gap: 10px;
}
.follow i{
   
     /* border-radius: 50px; */
     border: 3px solid white;
   background-color: white;
    color: rgb(192, 65, 192);
    padding: 6px;
    border-radius: 50px;
    font-size: 20px;
}
.footer .hr{
    width: 92%;
    margin-left: 53px;
    margin-bottom: 20px;
    margin-top: 23px;
    height: 1px;
    background-color: gray;
}



